<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
</head>
<body>
	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper" th:include="common :: sidebar"></div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1>List Kategori</h1>
						<a href="#" th:href="@{tambah}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-plus"></span> Tambah Kategori</a>
						<table class="table table-bordered">
							<tr>
								<th>No</th>
								<th>Kategori</th>
								<th>Aksi</th>
							</tr>
							<tr th:each="kategori, iterStat : ${kategoriList}">
								<td th:text="${iterStat.count}" />
								<td th:text="${kategori.nama}" />
								<td>
									<a href="#" class="btn btn-primary" th:href="@{edit(id=${kategori.id})}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
									<a href="#" class="btn btn-danger" th:href="@{delete(id=${kategori.id})}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="resources/js/jquery.js"
		th:src="@{/resources/js/jquery.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="resources/js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>